.cabecalho {
    align-items: center;
    background: #FFFFFF;
    padding: 2em;
    justify-content: space-between;
}

.cabecalho__bloco {
    gap: 5em;
}

.cabecalho__apresentacao {
    align-items: center;
}

.cabecalho__titulo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.cabecalho__menu-lista {
    align-items: center;
    list-style: none;
}

.cabecalho__menu-link {
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.cabecalho__menu-item {
    font-size: 16px;
}

.cabecalho__menu-lista:nth-child(2) .cabecalho__menu-link:hover {
    color: #FFFFFF;
    background: #002F52;
    padding: 0.5em;
}

.cabecalho__opcoes {
    visibility: hidden;
    background: #002F52;
    color: #FFFFFF;
    position: absolute;
    top: 11%;
    font-size: 16px;
    padding: 1em;
}

.cabecalho__menu-lista:nth-child(2):hover > .cabecalho__opcoes {
    display: flex;
    visibility: visible;
}

#icone-favorito {
    display: none;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        justify-content: center;
    }

    .cabecalho__menu-lista:nth-child(2) {
        margin: 0 2em;
    }

    .cabecalho__menu-lista:nth-child(1) .cabecalho__menu-link .cabecalho__menu-item {
        display: none;
    }
}

@media screen and (max-width: 428px) {
    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho__titulo {
        display: none;
    }

    .cabecalho__menu-lista:nth-child(1) {
        padding: 0 1em;
    }

    .cabecalho__menu-lista:nth-child(2) {
        display: none;
    }

    #icone-favorito {
        display: block;
    }
}