.cabecalho {
    background: #FFFFFF;
    justify-content: space-between;
    padding: 1em;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        justify-content: center;
    }

    ul:nth-child(3) li a {
        display: none;
    }
}

@media screen and (max-width: 428px) {
    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho .modelo__titulo {
        display: none;
    }
    
    ul:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    ul:nth-child(3) li:nth-child(3) {
        display: none;
    }
}