.rodape {   
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.rodape__menu-lista {
    border-left: 2px solid #858585;
    padding-left: 10px;
}

.rodape__menu-titulo {
    color: #858585;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .rodape__menu-lista {
        border: none;
    }
}

@media screen and (max-width: 827px) {
    .rodape__lista {
        display: none !important;
    }
}