@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.container {
    border: 2px solid #00F4BF;
    border-radius: 7px;
    padding: 2em;
    margin: 2em 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4em 0;
}

.container__section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container__group {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

button {
    padding: 0.5em 1em;
    font-size: 1.5em;
    border: none;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.container__layer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.container__label {
    font-size: 1.5em;
    font-weight: 600;
}

.container__input {
    background: transparent;
    font-size: 1.5em;
    padding: 0.3em;
    border: 2px solid #00F4BF;
    outline: none;
    border-radius: 5px;
    color: #FFF;
}

.container__block {
    border: 2px solid #1875e8;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container__block--layer {
    display: flex;
    gap: 1em;
    border: 2px solid #1875e8;
    padding: 0.4em;
    justify-content: space-around;
    align-items: center;
}

.container__link {
    padding: 0.5em;
    color: #FFF;
    text-decoration: none;
    border-radius: 8px;
}

.container__link-blue {
    background: #1875e8;
}

.container__link-red {
    background: #dc1010;
}

/* SECONDARY */

.container__title {
    font-size: 4em;
}

.container__subtitle {
    color: #1875e8;
    text-align: center;
}

.container__section:nth-child(1) {
    width: 50%;
    padding: 2em;
}

.container__section:nth-child(2) {
    width: 30%;
    padding: 2em;
}

.container__button-blue {
    background: #1875e8;
}

.container__button-white {
    background: #FFF;
    color: #000;
}

.container__button-green {
    background: #1b6e1b;
}

.container__group--alert {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

.container__alert {
    background: #dc1010;
    color: #FFF;
    padding: 0.5em;
    font-size: 1.5em;
    border-radius: 8px;
    border: 2px solid #FFF;
}

.table, tr, td, th {
    border: 2px solid #1875e8;
    padding: 1em;
    text-align: center;
}