@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cbdad5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #ffffff;
    padding: 2em;
    margin: 2em 8em;
    border: 2px solid #1875E8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.container__section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container__layer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.container__input {
    padding: 0.6em;
    font-size: 1.5em;
    border: 2px solid #1875E8;
    border-radius: 5px;
    background: transparent;
}

.container__button {
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.8em;   
    padding: 0.5em;
    cursor: pointer;
}

.container__group {
    display: flex;
    gap: 1em;
}

.container__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.container__menu-item {
    color: #1875E8;
    font-size: 1.4em;
}

/* SECONDARY */
.container__title {
    font-size: 3em;
}

.container__span {
    color: #1875E8;
}

.container__layer--secondary {
    display: flex;
    gap: 1em;
}

.container__label {
    font-weight: 600;
    font-size: 2em;
}

.container__button--blue {
    background: #1875E8;
}

.container__button--gray {
    background: #282626;
}

.container__group:nth-child(3) {
    border-bottom: 1px solid #000000;
    padding-bottom: 1em;
}

.container__input--select {
    width: 70%;
    appearance: none;
    background: url('../assets/arrow-down.svg') no-repeat right 1rem top 50%;
}

.container__input--extra {
    width: 18%;
    text-align: center;
}

.container__span-black {
    color: #000000;
}

.container__subtitle {
    font-size: 1.8em;
}

.container__image--uper {
    width: 35%;
}

.container__subtitle--lower {
    font-size: 2.4em;
}

.texto-aviso {
    background: #f44848;
    font-size: 2em;
    margin: 1em 0;
    padding: 0.3em;
    color: #ffffff;
    border-radius: 10px;
    width: 90%;
}