@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #041832;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #FFFFFF;
    padding: 2em;
    margin: 2em 8em;
    border: 2px solid #1875E8;
    border-radius: 5px;
    display: flex;
}

.container__section,
.container__group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container__section {
    gap: 2.5em;
}

.container__section {
    margin: 0 1.4em;
}

.container__layer {
    display: flex;
    gap: 1em;
    align-items: start;
    justify-content: space-between;
}

.container__label {
    font-size: 2em;
    font-weight: 600;
}

.container__input {
    font-size: 2em;
    width: 18%;
    text-align: center;
    padding: 0.4em;
    border: 2px solid #1875E8;
    border-radius: 10px;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

button {
    padding: 0.5em 1.5em;
    border: none;
    color: #FFFFFF;
    font-size: 2em;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.container__button {
    background: #1875E8;
}

.container__button--disabled {
    background: #383737;
    cursor: not-allowed;
}

/* SECONDARY */

.container__title {
    font-size: 2.7em;
    background: #1875E8;
    color: #FFFFFF;
    text-align: center;
    padding: 0.2em;
    border-radius: 10px;
}

.container__subtitle {
    text-align: center;
}

.container__span {
    color: #1875E8;
}

.container__span-red {
    color: #dc1e1e;
}

.container__image {
    width: 80%;
}

.container__section:nth-child(2) {
    padding: 2em;
}

.container__section--center {
    align-items: center;
}