@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #101942;
    font-family: 'Poppins', sans-serif;
    color: #f5f4d7;
}

.topo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.container {
    padding: 1.5em;
}

.container__titulo {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.container__sessao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    padding: 3em;
    justify-self: center;
    text-align: center;
}

.container__grupo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container__grupo-imagem--opacidade {
    opacity: 0.4;
}

.container__grupo-titulo {
    font-size: 2em;
    font-weight: 600;
}

button {
    padding: 0.4em;
    font-size: 1.5em;
    border-radius: 10px;
    border: 2px solid #f5f4d7;
    color: #f5f4d7;
    cursor: pointer;
}

.container__grupo-botao--disponivel {
    background: #091c9f;
}

.container__grupo-botao--alugado {
    background: #2b2726;
}