@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #041832;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #FFFFFF;
    padding: 2em;
    margin: 2em 5em;
    border: 2px solid #1875E8;
    display: flex;
    justify-content: space-between;
}

.container__section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 80%;
}

.container__title {
    font-size: 4em;
}

.container__text {
    background: #37cd37;
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    border-radius: 8px;
    padding: 0.3em;
}

.container__input {
    font-size: 2em;
    padding: 0.5em;
    border: 2px solid #1875E8;
    border-radius: 8px;
    outline: none;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 2em;
    padding: 0.5em 2em;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:disabled {
    background: #585252;
    cursor: not-allowed;
}

.container__button {
    background: #1875E8;
}

.container__image {
    width: 78%;
}

.container__section--center {
    align-items: center;
}

/* Versão 01 - Jogo do Número Secreto (v1) */
.container__image--special {
    width: 8%;
}

.container__section-total {
    align-items: center;
    width: 100%;
}